@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}


tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
    text-align: center;
}

th {
    padding: 6px 13px;
    background: #f3f2f3;
}

td {
    border: 1px solid #cdcbcd;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}